<!doctype html>
<title>TodoApp -- Store your Todo items</title>
    <head>
        {% if title %}
        <title>{{ title }} - must</title>
        {% else %}
        <title>MUST</title>
        {% endif %}
    </head>
        <h3>
            MUST:
            <a href="{{ url_for('login') }}">Login</a>
            <a href="{{ url_for('register') }}">Sign In</a>
        </h3>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
<meta charset="utf-8">
<style>
body {
	padding-top: 10px;
	padding-bottom: 100px;
}
</style>
