<link rel="stylesheet" href="/static/style.css" type="text/css">
{% block body %}
<form action="/homepage" method="POST">
    <input type="button" value="Log out" onclick="window.location.href='{{ url_for( 'logout') }}';">
<div class="homepage">
<div class="login-screen">
<div class="app-title">
<h1>MUST</h1>
<h3> Welcome {{ name }} </h3>
</div>
</div>
<div class="login-screen">
<div class="app-title">
    <div> <font size="3" color="grey">Favorite Musicians:</font></div>
    <div><font size="3" color="grey">{{ musicians }}</font></div>
    <input type="button" value="Add musicians" onclick="window.location.href='{{ url_for( 'add_musician') }}';">
    <input type="button" value="Delete musicians" onclick="window.location.href='{{ url_for( 'delete_musician') }}';">
    <h3>Upcoming concerts:</h3>
    {% if concerts_table %}
        {% for table in concerts_table %}
            {{ table|safe }}
            {% endfor %}
    {% else %}
        <font size="3" color="grey">There are not upcoming concerts from your favorite artists. :( </font><Paste>
        <font size="3" color="grey">Have you considered selecting more? </font><Paste>
    {% endif %}
    <h3>New Releases:</h3>
    {% if new_music_table %}
        {% for table in new_music_table %}
            {{ table|safe }}
            {% endfor %}
    {% else %}
        <font size="3" color="grey">No new music from your favorite musicians for this week :( </font><Paste>
        <font size="3" color="grey">Have you considered selecting more? </font><Paste>
    {% endif %}
</div></div>
<div class="login-screen">
<div class="app-title">
    <font size="3" color="grey">Favorite Actors:</font>
    <div><font size="3" color="grey">{{ movie_artists }}</font></div>
    <input type="button" value="Add actor/actress" onclick="window.location.href='{{ url_for( 'add_actress') }}';">
    <input type="button" value="Delete actor/actress" onclick="window.location.href='{{ url_for( 'delete_actress') }}';">
    <h3>Upcoming films:</h3>
    {% if new_movies_table %}
        {% for table in new_movies_table %}
            {{ table|safe }}
            {% endfor %}
    {% else %}
        <font size="3" color="grey">No movies coming up from your favorite actors and actresses :( </font>
        <font size="3" color="grey">Have you considered selecting more? </font><Paste>
    {% endif %}
</div></div>
</div>
</form>
{% endblock %}
