<link rel="stylesheet" href="/static/style.css" type="text/css">
<script src="/static/components.js"></script>
{% block body %}
<form action="/register" method="POST">
<div class="login">
<div class="login-screen">
       <div class="app-title">
       <h1> MUST </h1>
       <h3>Sign In</h3>
       </div>
       {% with messages = get_flashed_messages() %}
         {% if messages %}
           <ul class=flashes>
           {% for message in messages %}
             <font size="2" color="red">{{ message }}</font>
           {% endfor %}
           </ul>
         {% endif %}
       {% endwith %}
<div class="login-form">
       <div class="control-group">
              <input type="text" class="login-field" value="" placeholder="username" name="username">
              <label class="login-field-icon fui-user" for="signin-username"></label>
       </div>
       <div class="control-group">
              <input type="text" class="login-field" value="" placeholder="name" name="name">
              <label class="login-field-icon fui-user" for="signin-name"></label>
       </div>
       <div class="control-group">
              <input type="text" class="login-field" value="" placeholder="email" name="email">
              <label class="login-field-icon fui-user" for="signin-name"></label>
       </div>
       <div class="control-group">
	       <input type="password" class="login-field" value="" placeholder="password" name="password">
              <label class="login-field-icon fui-lock" for="signin-pass"></label></div>
       </div>
       <select class="ui massive dropdown teal button" multiple="" name="city" id="search-select">
              {% for id, city_name in cities %}
                  <option value={{ id }}>{{ city_name }}</option>
              {% endfor %}
       </select>
       <label class="login-field-icon fui-lock" for="signin-city"></label>
<input type="submit" value="Sign in" class="btn btn-primary btn-large btn-block">

</div>
</div>
</div>
</form>
{% endblock %}
