        <link rel="stylesheet" href="/static/style.css" type="text/css">
{% block body %}
{% if session['logged_in'] %}
 
You're logged in already!
 
{% else %}
 
<form action="/register" method="POST">
<div class="login">
<div class="login-screen">
<div class="app-title">
<h1>Sign In</h1>
</div>
<div class="login-form">
<div class="control-group">
				<input type="text" class="login-field" value="" placeholder="username" name="username">
<label class="login-field-icon fui-user" for="signin-username"></label></div>
<div class="control-group">
                                <input type="text" class="login-field" value="" placeholder="name" name="name">
<label class="login-field-icon fui-user" for="signin-name"></label></div>
<div class="control-group">
                                <input type="text" class="login-field" value="" placeholder="email" name="email">
<label class="login-field-icon fui-user" for="signin-name"></label></div>
<div class="control-group">
				<input type="password" class="login-field" value="" placeholder="password" name="password">
<label class="login-field-icon fui-lock" for="signin-pass"></label></div>
<div class="control-group">
                                <input type="text" class="login-field" value="" placeholder="city" name="city">
<label class="login-field-icon fui-lock" for="signin-city"></label></div>
<input type="submit" value="Sign in" class="btn btn-primary btn-large btn-block">

</div>
</div>
</div>
</form>{% endif %}
{% endblock %}
